.iconic:before {
	padding-right: 0px;
	margin: 0 11px;
}

nav a:hover {
	background: none;
}

nav a{
	width: 36px;
	height: 36px;
	display: flex;
	line-height: 36px;
	padding: 0px; 
	margin: 0 6px;
}

.iconic{
	border-radius: 9999px;
	background: none;
	font-size: 24px;
}

.iconic:hover{
	background-color: #645446;
}

.home::after {
	content: "";
}

.book::after {
	content: "";
}

.upload::after {
	content: "";
}

.magnifying_glass::after {
	content: "";
}

.user::after {
	content: "";
}

.splashContent{
	min-height: none;
	max-height: none;
	padding: 20px 0;
	height: auto;
}

.splashImg{
	background: none;
}

.splashContent h1{
	text-align: left;
}

.splashContent .description{
	max-width: none;
}

.splashButtons{
	max-width: none;
}

.splashButtons *{
	margin: 5px 0;
	text-align: center;
}

.uploadBtn {
	width: 100%;
	flex: 1 auto;
}

.browseBtn {
	width: 100%;
	flex: 1 auto;
}

.storyThumbnail{
	display: inline-block;
	margin-right: 20px;
}

.scrollH{
	width: 100%;
	height: 254px;
	overflow-x: scroll;
	overflow-y: hidden;
    white-space: nowrap;
	/*-moz-scrollbars-horizontal;*/
}

.recentData{
	box-sizing: border-box;
}