/*****************************************
****************** ICONS *****************
*****************************************/
@font-face {
	font-family: 'IconicStroke';
	src: url(../font/iconic_stroke.eot);
	src: url(../font/iconic_stroke.eot?#iefix) format("embedded-opentype"), url(../font/iconic_stroke.ttf) format("truetype"), url(../font/iconic_stroke.svg#iconic) format("svg");
	font-weight: 400;
	font-style: normal;
}


.iconic {
	font-family: 'IconicStroke';
}

.iconic:before {
	padding-right: 7px;
}

/*icons:*/
.home:before {
	content: '\2302';
}

.book:before {
	content: '\e069';
}

.upload:before {
	content: '\e043';
	padding-left: 2px;
}

.magnifying_glass:before {
	content: '\e074';
}

.user:before {
	content: '\e062';
	padding-left: 2px;
}

.x:after {
	content: '\2717';
	font-family: 'IconicStroke';
	margin-left: 5px;
	font-size: 12px;
	vertical-align: 1px;
}

.comment_alt2_stroke:before {
	content: '\e004';
}

.heart_stroke:before {
	content: '\2764';
}

/*****************************************
************** COLOR CHART ***************
******************************************

light_brown			#7A6453
medium_brown		#645446
dark_brown			#584b3f
main_blue			#76cace

light_red			#fb9b97
light_orange		#f4a328
light_yellow		#f5c02c
light_green			#aad05e
light_blue			#9dd3d7

dark_red			#E66464
dark_orange			#ea8100
dark_yellow			#ebae02
dark_green			#8dc225
dark_blue			#4dbdbc

*/

/*****************************************
************ COVER COLORS ****************
*****************************************/

.presetColorRed .container,
.presetColorRed .rating {
	background-color: #fb9b97;
}

.presetColorRed .overlay {
	background-color: #E66464;
}

.presetColorOrange .container,
.presetColorOrange .rating {
	background-color: #f4a328;
}

.presetColorOrange .overlay {
	background-color: #ea8100;
}

.presetColorYellow .container,
.presetColorYellow .rating {
	background-color: #f5c02c;
}

.presetColorYellow .overlay {
	background-color: #ebae02;
}

.presetColorGreen .container,
.presetColorGreen .rating {
	background-color: #aad05e;
}

.presetColorGreen .overlay {
	background-color: #8dc225;
}

.presetColorBlue .container,
.presetColorBlue .rating {
	background-color: #9dd3d7;
}

.presetColorBlue .overlay {
	background-color: #4dbdbc;
}

/*****************************************
**************** GENERAL *****************
*****************************************/
html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	font-size: 18px;
}

button {
	background-color: rgba(0, 0, 0, 0);
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
}

input {
	box-sizing: border-box;
	outline: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	border: none;
	color: #584b3f;
}

input[type="submit"] {
	cursor: pointer;
}

hr {
	margin: 0;
	border: 0;
	height: 2px;
	background-color: rgba(255, 255, 255, .3);
}

select {
	outline: none;
	border: none;
	font-family: 'Roboto Condensed', sans-serif;
}

select option:checked {
	box-shadow: inset 0 0 20px 20px #76cace;
}

select option:hover {
	box-shadow: inset 0 0 20px 20px #76cace;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.flexWrap {
	min-height: 100%;
}

.flexWrap > div {
	flex: 1;
}

p {
	width: 100%;
}

::selection {
	background: rgba(0, 0, 0, .1); /* WebKit/Blink Browsers */
}

::-moz-selection {
	background: rgba(0, 0, 0, .1); /* Gecko Browsers */
}

.fixedTop {
	position: fixed;
	top: 0;
}

a {
	text-decoration: none;
	color: white;
}

h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 52px;
	margin: 0;
}

.fullWidth {
	width: 100%;
}

.guide960 {
	flex-basis: 960px;
	margin: 0 auto;
}

.margin20 {
	margin-left: 20px;
	margin-right: 20px;
}

.topBottom40 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.marginNeg {
	margin: 0 -20px;
	min-width: 0;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.row {
	flex-flow: row wrap; /*^ una langa alta alta*/
}

.column {
	flex-flow: column wrap; /*^ una sub alta*/
}

.center1 {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.center2 {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.flexStart {
	-webkit-box-pack: flex-start;
	-webkit-justify-content: flex-start;
	-moz-box-pack: flex-start;
	-ms-flex-pack: flex-start;
	justify-content: flex-start;
}

.flexEnd {
	-webkit-box-pack: flex-end;
	-webkit-justify-content: flex-end;
	-moz-box-pack: flex-end;
	-ms-flex-pack: flex-end;
	justify-content: flex-end;
}

.spaceBetween {
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-moz-box-pack: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}

.spaceAround {
	-webkit-box-pack: space-around;
	-webkit-justify-content: space-around;
	-moz-box-pack: space-around;
	-ms-flex-pack: space-around;
	justify-content: space-around;
}

/*****************************************
**************** M E N U *****************
*****************************************/
nav {
	background-color: #7A6453;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
	z-index: 9999;
}

nav a,
nav #right > div {
	cursor: pointer;
	border-radius: 2px;
	padding: 5px 8px 5px 8px;
	position: relative;
}

nav a::after,
nav #right > div::after {
	font-family: 'Roboto Condensed', sans-serif;
}

nav a:hover,
nav #right > div:hover,
nav .multi a:hover {
	background-color: #645446;
	-webkit-transition: all .2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all .2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

#navContent,
#navContentMobile {
	height: 48px;
	margin-top: 8px;
}

#navContentMobile .iconic {
	cursor: pointer;
}

.navDeco {
	height: 8px;
	background-color: #584B3F;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
}

.hidden {
	display: none;
}

nav .home::after {
	content: "Home";
}

nav .book::after {
	content: "Browse";
}

nav .upload::after {
	content: "Upload";
}

nav .magnifying_glass::after {
	content: "";
}

nav .user::after {
	content: attr(data-attr);
}

/*****************************************
******** MULTI CONTAINS EXTENSION ********
*****************************************/
nav .multi:hover .userExt {
	visibility: visible;
	opacity: 1;
	margin-top: 0px;
}

nav .userExt {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	right: 0;
	height: auto;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	margin-top: -10px;
	-webkit-transition: all .2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all .2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

nav .searchExt .content,
nav .userExt .content {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
	background-color: #7A6453;
	padding: 7px 10px;
	margin-top: 10px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

/*****************************************
************ MOBILE SEARCH ***************
*****************************************/
nav #navContentMobile form {
	padding: 0;
	margin: 0;
	background: none;
	width: 100%;
}

nav #navContentMobile .searchExt .content {
	padding: 7px 20px;
}

/*****************************************
********* searchExt MOBILE ONLY **********
*****************************************/
nav .multi:hover .searchExt {
	visibility: visible;
	opacity: 1;
	margin-top: 0px;
}

.searchExt {
	-webkit-transition: all .2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all .2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+ */
	visibility: hidden;
	opacity: 0;
	margin-top: -10px;
	box-sizing: border-box;
}

nav .userExt .content * {
	display: block;
	text-align: center;
	white-space: nowrap;
}

nav .userExt .content {
	width: auto;
}

.searchExt .content {
	box-sizing: border-box;
	flex-flow: row nowrap;
	flex: 1;
	min-height: 55px;
	height: auto;
}

.searchExt input[type="text"] {
	width: 100%;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	border-bottom: none;
	margin: 0;
	flex: 6;
	font-size: 20px;
}

.searchExt input[type="submit"] {
	width: 30px;
	flex: 1;
	margin: 0;
	cursor: pointer;
	border: none;
	background: #645446;
	color: white;
	border-radius: 3px;
	letter-spacing: 2px;
}

nav .profile::after {
	content: "Profile";
}

nav .signOut::after {
	content: "Sign Out";
}

nav .signIn::after {
	content: "Sign In";
}

nav .register::after {
	content: "Sign Up";
}

nav .admin::after {
	content: 'Admin';
}

/*****************************************
******* nav form = DESKTOP SEARCH ********
*****************************************/
nav form {
	white-space: nowrap;
	width: auto;
	margin: 0;
	margin-right: 5px;
	flex-flow: row nowrap;
	background-color: rgba(100, 84, 70, 0.7);
}

nav form {
	;
	border-radius: 2px;
	padding: 7px 0px 5px 8px;
}

nav form:hover {
	background-color: #645446;
}

nav form * {
	width: auto;
}

nav form input {
	-webkit-transition: all .2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all .2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+ */
	width: 55px;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	border-bottom: none;
}

nav form input:hover {
	border: none;
}

nav form input:focus {
	border: none;
	width: 150px;
	-webkit-transition: all .2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all .2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.first {
	margin-top: 56px;
}

.footer {
	background: #584B3F;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
}

.footerContent {
	padding: 10px 0;
	color: white;
	opacity: 0.5;
}

.footerContent a {
	border-bottom: 1px dotted white;
}

.footerContent p {
	text-align: center;
}

#copyright::before {
	content: '\00A9';
}

/*****************************************
***************** HOME *******************
*****************************************/
.splash {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
	background: #76cace url('../img/splash.png') no-repeat;
	background-position: calc(35% + 250px) calc(50% + 20px);
}

.splashContent {
	padding-top: 50px;
	padding-bottom: 50px;
}

.splashContent .description {
	max-width: 320px;
	margin-bottom: 30px;
}

.splashButtons {
	text-transform: uppercase;
	width: auto;
	max-width: 320px;
}

.splashButtons * {
	font-size: 18px;
	font-weight: 700;
	background: white;
	color: #76cace;
	padding: 10px 17px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	margin-right: 10px;
	border: none;
}

.splashButtons *:hover {
	background: #F2F2F2;
}

.splashButtons *:active {
	background: #E2E2E2;
}

.recent {
	background: none;
	color: #7A6453;
	padding-bottom: 20px;
}

.recentContent p {
	margin-bottom: 10px;
}

.recentData {
	width: 100%;
	height: 254px;
	overflow: hidden;
	padding: 0 20px;
}

.storyThumbnail {
	margin-top: 15px;
}

.storyThumbnail .overlay {
	opacity: 0;
}

.storyThumbnail .container {
	color: white;
	width: 150px;
	height: 224px;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
	margin-top: 2px;
}

.storyThumbnail .container a:hover > .overlay {
	opacity: 1;
	top: 0px;
}

.storyThumbnail .container a:hover > img {
	opacity: .2;
}

.storyThumbnail .container a .storyCover {
	-webkit-transition: all .2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all .2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
	width: 150px;
	height: 224px;
}

.storyThumbnail .overlay {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 4444;
	top: -50px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-webkit-transition: all .2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all .2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.overlay .title {
	font-family: 'Amatic SC', cursive;
	padding: 0 8px;
	font-size: 32px;
}

.overlay .authors {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
	padding: 0 30px;
	font-size: 15px;
}

.overlay .rating,
.overlay .authors {
	padding: 5px 10px;
}

.overlay .rating {
	text-align: center;
}

.overlay .rating img {
	width: 16px;
	height: 16px;
	margin: 0 2px;
}

/***************************************** 
****************** FORM ******************
*****************************************/
.formContent {
	box-sizing: border-box;
	width: auto;
	max-width: 400px;
	background-color: white;
	padding: 40px;
	color: #7A6453;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.formContent form p,
.formContent form .error {
	text-transform: uppercase;
	font-size: 12px;
	color: #E66464;
	margin: 0;
	min-height: 15px;
	font-weight: 700;
	background-color: white;
	max-height: 32px;
}

.formContent input {
	border-bottom: 2px rgba(0, 0, 0, .2) solid;
}

.formContent input:focus {
	border-bottom: 2px #76cace solid;
}

.formContent input[type="submit"] {
	text-transform: uppercase;
	width: auto;
	max-width: 320px;
}

.formContent input[type="submit"] {
	font-size: 18px;
	color: white;
	background-color: #76cace;
	padding: 5px 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	margin-right: 10px;
	border: none;
}

.formContent input[type="submit"]:hover {
	opacity: 0.8;
}

.formContent input[type="submit"]:active,
.formContent input[type="submit"]:focus {
	opacity: 0.9;
	border: none;
}

.formContent form {
	width: 100%;
}

.formContent form * {
	width: 100%;
}

/***************************************** 
***************** LOGIN ******************
*****************************************/
.flexWrap .login {
	background: #76cace url('../img/books1.png') no-repeat center center;
	background-size: 70%;
}

/*****************************************
*************** REGISTER *****************
*****************************************/
.flexWrap .register {
	background: #76cace url('../img/books2.png') no-repeat center center;
	background-size: 70%;
}

.register #username span::after {
	content: " *";
	color: #E66464;
}

.register #password span::after {
	content: " *";
	color: #E66464;
}

.register #repeat_password span::after {
	content: " *";
	color: #E66464;
}

.register #email span::after {
	content: " *";
	color: #E66464;
}

/***************************************** 
*************** PROFILE ******************
*****************************************/
.flexWrap .profile {
	background: #76cace;
}

.flexWrap .profile .formContent {
	max-width: none;
	width: 100%;
}

.flexWrap .profile .formContent section {
	flex: 1;
}

.flexWrap .profile .formContent .viewOnly {
	display: block;
	margin-bottom: 15px;
	font-weight: 700;
}

.flexWrap .profile .formContent hr {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.flexWrap .profile .formContent .vertical {
	width: 2px;
	height: 100%;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
}

/***************************************** 
*************** STORY VIEW ***************
*****************************************/
.flexWrap .storyById .storyByIdContent {
	max-width: none;
	box-sizing: border-box;
	width: auto;
	background-color: white;
	color: #7A6453;
	border-radius: 3px;
}

.flexWrap .storyByIdContent > * {
	width: 100%;
	color: white;
	box-sizing: border-box;
	padding: 40px;
}

#storyDetails {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.23);
	z-index: 1;
}

#storyDetails #left {
	flex: 7;
}

#storyDetails #left p {
	margin: 0;
}

#storyDetails #right {
	text-align: right;
	
}

#storyAndProgress {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	z-index: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.flexWrap .storyById .storyByIdContent hr {
	background-color: rgba(0, 0, 0, 0);
	padding-top: 10px;
	padding-bottom: 10px;
}

.flexWrap .vertical {
	width: 2px;
	height: 100%;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.flexWrap .storyById .storyByIdContent .iconic{
	margin-top: 10px;
	text-align: center;
	border-radius: 9999px;
	font-size: 25px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: rgba(0,0,0,0.05);
	border: 2px rgba(255,255,255,0) solid;
	-webkit-transition: all .2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all .2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.flexWrap .storyById .storyByIdContent .iconic::before {
	margin: 16px;
}

.flexWrap .storyById .storyByIdContent .iconic:hover{
	background: none;
	border: 2px rgba(0,0,0,0.05) solid;
	-webkit-transition: all .2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all .2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}


/***************************************** 
**************** BROWSE ******************
*****************************************/
.flexWrap .browse {
	color: #7A6453;
}

.flexWrap .browse #filterPanel {
	flex: 1;
}

.flexWrap .browse #filteredResults {
	flex: 4;
}

.flexWrap .browse .vertical {
	width: 2px;
	height: 100%;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 15px;
	padding-right: 10px;
}

#filterPanel > p {
	margin-top: 0;
	margin-bottom: 3px;
}

#filterPanel div p {
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 3px;
	margin-top: 3px;
}

#filterPanel li:hover {
	background-color: rgba(0, 0, 0, 0.05);
	-webkit-transition: all .2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all .2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

#filteredResults > p {
	margin-top: 0;
	margin-bottom: 3px;
}

#filteredResults > p {
	margin-bottom: 30px;
}

#filteredResults #filterView li,
#filterPanel li,
#filteredResults select{
	color: #7A6453;
	text-transform: uppercase;
	font-size: 16px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 7px 8px;
	border-radius: 3px;
	text-align: center;
	margin-bottom: 5px;
	opacity: 0.8;
	-webkit-transition: all .2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all .2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

#filteredResults #filterView li {
	margin-right: 4px;
}

#filteredResults select {
	text-align: left;
	padding: 5px 5px;
}

#filteredResults option:focus {
	background-color: #76cace;
}

#filteredResults #filterView li:hover {
	opacity: 0.5;
}

/***************************************** 
**************** UPLOAD ******************
*****************************************/
.uploadForm {
	background: #76cace;
	text-align: center;
}

.uploadForm .fileUpload {
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	padding: 7px 10px;
	border-radius: 3px;
	color: #7A6453;
	width: auto;
	max-width: 300px;
	height: auto;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.fileUpload input {
	border: none;
	padding: 0 10px;
	cursor: pointer;
	opacity: 0;
	position: absolute;
	left: 0;
	overflow: hidden;
}

.fileUpload input:focus {
	border: none;
}

.fileUpload span {
	color: #E66464;
	font-weight: 700;
}

/***************************************** 
************** NOT LOGGED ****************
*****************************************/
.notLogged {
	background: #76cace;
}

.notLogged * {
	text-align: center;
}

.notLogged .splashButtons * {
	font-weight: 500;
	color: white;
	background-color: #76cace;
}

.notLogged .splashButtons *:hover {
	opacity: 0.8;
	background-color: #76cace;
}

.notLogged .splashButtons *:active {
	opacity: 0.9;
	background-color: #76cace;
}


/***************************************** 
***************** ADMIN ******************
*****************************************/

.storyThumbnail .adminOverlay {
	padding: 5px 0;
	position: absolute;
	background-color: white;
	width: 100%;
	height: auto;
	bottom: -20px;
	opacity: 0;
	text-align: center;
	box-sizing: border-box;
	z-index: 5555;
	-webkit-transition: all .2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all .2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.storyThumbnail .container:hover > .adminOverlay {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	opacity: 1;
	bottom: 0;
	-webkit-transition: all .2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all .2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.storyThumbnail .adminOverlay span {
	font-size: 14px;
	text-transform: uppercase;
	padding: 9px;
	font-weight: 700;
	cursor: pointer;
	color: rgba(122,100,83,0.8);
}


.storyThumbnail .adminOverlay .approve:hover {
	color: #8dc225;
}

.storyThumbnail .adminOverlay .remove:hover {
	color: #E66464;
}

.filler {
	margin: 0;
	opacity: 0;
}

.filler .container{
	height: 0;
	margin-top: 5px;
}

/***************************************** 
*************** PAGINATION ***************
*****************************************/
#pageControlBottom {
	text-align: center;
	color: rgba(122,100,83,0.5);
}

#pageControlBottom span {
	text-transform: uppercase;
	font-size: 16px;
	padding: 7px 8px;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	text-align: center;
	margin-bottom: 5px;
	opacity: 0.8;
	-webkit-transition: all .2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all .2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.clickable{
	cursor: pointer;
	color: #7A6453;

}

/***************************************** 
****************** 700 *******************
*****************************************/
@media screen and (max-width:700px) {
	nav form input:focus {
		width: 55px;
	}

	.flexWrap .profile .formContent .vertical {
		width: 0;
		height: 0;
		padding: 0;
	}

}