.iconic:before {
	padding-right: 0px;
	margin: 0 11px;
}

nav a:hover, nav #right > div:hover {
	background: none;
}

nav a, nav #right > div{
	padding: 0; 
	margin: 0;
}

.iconic{
	border-radius: 9999px;
	background: none;
	font-size: 24px;
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.iconic:hover{
	background-color: #645446;
}

nav .home::after {
	content: "";
}

nav .book::after {
	content: "";
}

nav .upload::after {
	content: "";
}

nav .magnifying_glass::after {
	content: "";
}

nav .user::after {
	content: "";
}

.splash {
	background: #76cace;
}


nav .searchExt, nav .userExt{
	right: 0;
	position: fixed;
	visibility: hidden;
	opacity: 0;
}

nav .searchExt {
	width: 100%;
}

nav .userExt{
	max-width: 100%;
}

nav .searchExt .content{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

nav .multi:hover .searchExt, 
nav .multi:hover .userExt
{
	/*display: block;*/
	visibility: visible;
	opacity: 1;
	margin-top: -7px;
}


.splashContent{
	padding-top: 20px;
	padding-bottom: 20px;
}

.splashContent h1{
	text-align: left;
}

.splashContent .description{
	max-width: none;
}

.splashButtons{
	max-width: none;
}

.splashButtons *{
	margin: 5px 0;
	text-align: center;
}

.uploadBtn {
	width: 100%;
	flex: auto;
}

.browseBtn {
	width: 100%;
	flex: auto;
}

.storyThumbnail{
	display: inline-block;
	margin-right: 20px; /*hardcoded*/
}

.recentData{
	padding: 0;
}

.recentData:first-child {
	padding-left: 20px; /*hardcoded*/
}

.overlay .title{
	white-space: normal;
}

.scrollH{
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;
}
